/************************************************************ RESET CSS3 ************************************************************/
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video 
{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;position:relative;}

ol, ul {list-style:none;}
ol { list-style-type:decimal;}

blockquote, q { quotes:none;} 
blockquote:before, blockquote:after, q:before, q:after { content:'';content:none;}

a {margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;white-space:nowrap;}
a img {border:0}
figure {position:relative} 

abbr[title], dfn[title] {/* border-bottom:1px dotted;*/ cursor:help;}
abbr {border:none;}
abbr[title="and"] {font-style:italic;border:none;font-family:Baskerville, "Baskerville old face", Garamond, "Times New Roman", serif;}

img, video, object {max-width:100%;height:auto;}

table {border-collapse:collapse;border-spacing:0;}
hr {display:none;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}

input, select {vertical-align:middle;}

/* webkit browsers add a 2px margin outside the chrome of form elements */
select, input, textarea, button {font-family:"Arial", Helvetica, sans-serif;margin:0;}
pre, code, kbd, samp {font-family:Arial, Tahoma, sans-serif;font-size:1em;}

html {-ms-overflow-style:scrollbar;overflow-x:hidden;}
a:hover, a:active, a:focus { outline:none;text-decoration:none;} /* Accessible focus treatment:people.opera.com/patrickl/experiments/keyboard/test */

nav ul, nav li { margin:0;list-style:none;} /* Remove margins for navigation lists */

small {font-size:0.923076923076923em;}
strong, th {font-weight:bold;}

td, td img {vertical-align:top;}

sub, sup {color:#f00;font-weight:bold;font-size:1.15384615384615em;padding-left:0.1em;}

pre {white-space:pre-line;white-space:-moz-pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;word-wrap:break-word;}

textarea {overflow:auto;}
.ie6 legend, .ie7 legend {margin-left:-7px;}

input[type="radio"] {vertical-align:text-bottom;outline-style:none;}
input[type="checkbox"] { vertical-align:text-bottom;}
.ie7 input[type="checkbox"] {vertical-align:baseline;}
.ie6 input {vertical-align:text-bottom;}

label, input[type=button], input[type=submit], button {cursor:pointer;}

button { width:auto;overflow:visible;}

/* colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {color:#ff1e00;}


/* These selection declarations have to be separate.*/
::-moz-selection{ background:#d5d5d5;color:#000;text-shadow:none;}
::selection { background:#d5d5d5;color:#000;text-shadow:none;}

/*  webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color:#beeaf0;}

/* bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode:bicubic;}

.divide  {padding-top:1em;border-top:1px solid #d5d5d5;margin-top:1em;}
.no-divide, .home section h2.no-divide {padding:0;border:none;}

/* Hiding things
----------------------------------------------------------------*/
/* for image replacement */
.ir { display:block;text-indent:-999em;overflow:hidden;background-repeat:no-repeat;text-align:left;direction:ltr;}

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display:none;visibility:hidden;height:0;width:0;}

/* Hide only visually, but have it available for screenreaders
   www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  */
.visuallyhidden { position:absolute !important;
  clip:rect(1px 1px 1px 1px);/* IE6, IE7 */
  clip:rect(1px, 1px, 1px, 1px);}

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility:hidden;}

/************************************************************ RESET MOBILE ************************************************************/
*, *:before, *:after {
  /* suppressing the tap highlight */
  -webkit-tap-highlight-color:rgba(0,0,0,0);

  /* this is a personal preference */
  box-sizing:border-box;
  vertical-align:top;
  padding:0;
  margin:0;
  -webkit-font-smoothing:antialiased;
}

*:focus {
  /* the default outline doesn't play well with a mobile application, 
     I usually start without it,
     but don't forget to research further to make your mobile app accessible. */
  outline:0;
}

input {
  border-radius:0;
}

html, body {
  /* we don't want to allow users to select text everywhere,
     you can enable it on the places you think appropriate */
  //-moz-user-select:none;-ms-user-select:none;-webkit-user-select:none;user-select:none;
}



/************************************************************ COMMONS ************************************************************/
/* slightly enhanced, universal clearfix hack */
.clearfix:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix { display:inline-block;}
/* start commented backslash hack \*/
* html .clearfix { height:1%;}
.clearfix { display:block;}
/* close commented backslash hack */


.left {float:left;}
.right {float:right;}

/* Arrows
----------------------------------------------------------------*/    
.up_arrow {width:0;height:0;border-bottom:5px solid #666;border-right:5px solid transparent;border-left:5px solid transparent;content:"";}
.down_arrow {width:0;height:0;border-top:5px solid #666;border-right:5px solid transparent;border-left:5px solid transparent;content:"";}
.left_arrow {width:0;height:0;border-left:5px solid #666;border-top:5px solid transparent;border-bottom:5px solid transparent;content:"";}
.right_arrow {width:0;height:0;border-right:5px solid #666;border-top:5px solid transparent;border-bottom:5px solid transparent;content:"";}

/* Bodys
----------------------------------------------------------------*/
html {-webkit-font-smoothing:antialiased;width:100%;}
body {background:#f2f2f2;text-rendering:optimizeLegibility;text-rendering:geometricPrecision;/* need to re-read about this setting */font-size:100%;line-height:1.5em;font-family:"Helvetica Neue", Helvetica, sans-serif;height:100%;color:#404040;width:100%;}
.wrapper {width:100%;height:100%;padding:0;margin:0;overflow:hidden;position:relative;}

[page] {}
.pageImage {height:100%;width:100%;max-height:1000px;max-width:600px;}

/*md-toolbar *, md-toolbar :after, md-toolbar :before {
    box-sizing: border-box;
    background-color: #282C35;
}*/

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
    /*background-color: #ee5786 !important;*/
    /*color: rgb(255,250,250);*/
    height: 100px;
    background: #ee5786; /* For browsers that do not support gradients */        
    background: -webkit-linear-gradient(0deg, #ee5786, #cc33ff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(0deg, #ee5786, #cc33ff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(0deg, #ee5786, #cc33ff); /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(0deg, #ff80bf, #cc33ff); /* Standard syntax (must be last) */*/
    background: linear-gradient(0deg,  #4d0026, #4d004d); /* Standard syntax (must be last) */
}
.toolbar-forecolour{
  color: #F8F8FF;
  vertical-align: middle;
  font-family: Whitney;

}
/*setting tabs background colour*/
md-tabs.md-default-theme.md-hue-2.md-primary > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]), md-tabs.md-hue-2.md-primary > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
    /*color: rgb(255,250,250) !important;*/
    background-color: rgb(255,250,250) !important;
     color: rgb(0,0,0);
     text-transform: none !important;
}

/*setting active tab text colour*/
.md-tab.md-active {
     color: #e51153 !important;
     font-weight: bold;
}

/*setting the ink line colour of active tab*/
md-tabs.md-default-theme.md-hue-2 md-ink-bar, md-tabs.md-hue-2 md-ink-bar {
    background: #ff76aa !important;
    color: #e51153 !important;
    text-transform: none !important;
}

md-backdrop.md-sidenav-backdrop {
    z-index: 95 !important;
}

md-devider.vertical-divider {
  border-top-width: 0;
  border-right-width: 1px;
  border-right-style: solid;
  height: 100%;
}

.md-button {
  text-transform: none !important;
}

body {
    font-family: Whitney !important;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    text-transform: none !important;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #808080;
  text-align: center;
  font-size: 0.8em;
  color: #e6e6e6;
  vertical-align: middle;
  
}
.btnSignin{
    padding: 5px 10px;
    color: #fff;
    background-color: #673ab7;
    border-radius: 3px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.contentpage-container{
  background-color: #feedf6;
  text-align: center;
  overflow: none;
  padding: 10px 0px 25px 0px;
}

.login-container {
  max-width:50%;
}

.login-button {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 162px;
    padding-left: 18%;
    position: relative;
    font-size: 13px;
    font-weight: 500;
    color: #696b79;
    height: 50px;
    border: 1px solid #bfc0c6;
    background-color: #fff;
    border-radius: 5px;
    text-align: left;
}


.login-title {
    font-size: 32px;
    margin-top: 15px;
    color: #535766;
}

.login-button-info-text {
    margin-top: 0;
    margin-bottom: 20px;
}

.login-info-text {
    color: #94969f;
    font-size: 12px;
}

.center-cropped {
  width: 100%;
  height: 200px;

  background-size:contain;
  background-repeat: no-repeat;
  overflow: hidden;
  background-position: center center;
  position:relative;
  
}

.btn_fb{
  margin: 15px 0 10px 0;
  padding: auto;
  cursor: pointer;
  width: 140px;
  height: 30px;
  background: #39579a;
  color: white;
  font-size: 14px;
  display: inline-flex;
}
.fb_icon{
  border-right: 1px solid #333;
    padding: 5px;
}
.fb_txt{
  padding: 5px 20px;
}
.btn_gplus{
  margin: 15px 0 10px 0;
  padding: auto;
  cursor: pointer;
  width: 140px;
  height: 30px;
  background: #df4a32;
  color: white;
  font-size: 14px;
  display: inline-flex;
}
.gplus_icon{
  border-right: 1px solid #333;
    padding: 5px;
}
.gplus_txt{
  padding: 5px 20px;
}

.register-register-button {
    background-color: #ff527b;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 15px;
    display: block;
    width: 100%;
    border: 0;
    text-transform: uppercase;
    border-radius: 3px;
    font-family: Whitney;
}
.book-your-service {
    background-color: #ff527b;
    color: #fff;
    font-size: 11px;
    font-weight: 300;
    letter-spacing: 2px;
    padding: 5px;
    display: block;
    width: 150px;
    height: 40px;
    border: 0;
    text-transform: uppercase;
    border-radius: 3px;
    font-family: Whitney;
    position: absolute;
    bottom: 0;
    right: 0;
}

.register-link-container {
    text-align: left;
    padding: 20px;
}
.register-login-link {
    text-align: center;
}
.register-info-text {
    color: #94969f;
    font-size: 12px;
}
.register-create-account-link {
    margin-left: 5px;
}
.register-link {
    cursor: pointer;
    text-decoration: none;
    color: #ff527b;
    padding: 10px 0;
    font-size: 13px;
}

.restaurant-signup .resSignUp-body {font-size: 16px; font-family:Whitney}
.restaurant-signup .page-wrapper h3.title {font-weight: bold;text-transform: none;padding: 10px 0;background:#94969f;color:#fff;font-family:Whitney; text-align: center;}
.restaurant-signup .resSignUp-body .md-block.header {background:#ddd;margin:5px;color:#000;padding:10px; font-family:Whitney}
.restaurant-signup .resSignUp-body .md-block.header h4.title {margin:0;}
.error-message-block {
    color: rgb(221, 44, 0);
}
md-content {
    overflow: none !important;

}

.sec2_trend{
  padding: 0.5em 0 0.5em;
  width: 100%;
  font-family: whitney;
  color:#F5F5F5;
    text-align:center;
}
.sec2_trend .desc{
    font-family: whitney;
    font-size:1.25em;
    color:#F5F5F5;
}

.outer-container {
      position : relative;
      box-sizing : border-box;
      width  : 100%;
      height : 100%;
      overflow-x : none;
      overflow-y : none;
      align-content: center;
      align-content: center;
    }
    
.card { 
      box-sizing   : border-box;
      float : left;
      max-width  : 400px;
      min-width: 350px;
      height : 300px;
      text-align  : center;
      border-radius : 3x;
      background  :#F8F8FF;
      color       : #33373D;
      box-shadow: 0 0 16px -2px #000;
}

.logoNew {
    height:60px;
    line-height:1.25em;
    bottom:0.1em;
    right:0.1em;
    width:150px;
    opacity:0.85;
    border-radius: 4px;
    border:2px solid #fff;
    box-shadow: 0 0 6px 0 #000;
    /*background-size: cover;  will stretch the image to fit the container*/*/
    background-size: contain; /* fit the background image to the container with the original size of the image top left aligned */
    background-repeat:no-repeat; /* avoid duplication of the background image */
    background-position: center center; /* center place the image vertically and horizontally */
    position: absolute;
  
}

.center-cropped .splOfr {display:none;height:auto;line-height:1.25em;position:absolute;top:1em;left:0;z-index:82;background:rgba(230,26,99,0.9);border-radius:0 4px 4px 0;padding:0.5em;color:#fff;}
/*.center-cropped .rating {display:none;height:auto;line-height:1.25em;position:absolute;top:0em;right:0;z-index:82;background:#5BA829;border-radius:0 4px 4px 0;padding:0.5em;color:#fff;}*/
.services {color:#2F4F4F;padding-top:0.5em;white-space: nowrap;width: 100%;overflow: hidden;text-overflow: ellipsis; padding:0.35em 0.5em; flex-wrap: wrap; font-style: normal; font-size: 0.8em;}
.title-card {
  position : relative;
      box-sizing : border-box;
      width  : 100%;
      height : 100%;
      overflow-x : none;
      overflow-y : none;
      align-content: center;
      padding-left: 5px;
      padding-right: 5px;
      padding-bottom: 5px;
      /*background-color:#660066;*/
      color: #ff1493;
}

.title-background {
   background-image: url('../img/title-background.jpg');
   /*background-position: 50% 50%;*/
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: contain;
   transform: rotate(0);  
}

.site-background {
   /*background-image: url('../img/site-background.png');*/
   /*background-position: 50% 50%;*/
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: contain;
   transform: rotate(0); 


}

.logoImage{
    max-width: 50px;
    min-width: 50px;
    height: 50px;
    background-image: url('../img/platform-logo.png');
    background-size: contain;
    position: relative;
    background-repeat:no-repeat;
    background-position: left left;
    padding: 10px,0px,0px,30px;
    background-color: transparent;

}

.logoImage:hover {
  cursor: pointer; 
  cursor: hand;
}

.details-biztypes {
  font-size: 15px;
  color: #89959B;
}

.details-services {
  font-size: 15px;
  color: #099e44;
}


.horizontal-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

/*
Full screen Modal 
*/
.fullscreen-modal .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
@media (min-width: 768px) {
  .fullscreen-modal .modal-dialog {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .fullscreen-modal .modal-dialog {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .fullscreen-modal .modal-dialog {
     width: 1170px;
  }
}


/* start Picture gallery styles*/

.arrow {
  size: 50%;
  cursor: pointer;
  display: block;
  height: 100px;
  margin-top: -35px;
  outline: medium none;
  position: absolute;
  top: 50%;
  width: 100px;
  z-index: 5;
}
.arrow.prev {
  background-image: url("../img/prev.png");
  left: 10px;
  size : 25%;
  opacity: 0.3;
  transition: all 0.2s linear 0s;
  z-index: 85;
}
.arrow.next {
  background-image: url("../img/next.png");
  opacity: 0.3;
  right: 10px;
  transition: all 0.2s linear 0s;
  z-index: 85;
}
.arrow.prev:hover{
  opacity:1;
}
.arrow.next:hover{
  opacity:1;
}
.nav {
  bottom: -4px;
  display: block;
  height: 48px;
  left: 0;
  margin: 0 auto;
  padding: 1em 0 1.2em;
  position: absolute;
  right: 0;
  text-align: center;
  width: 100%;
  z-index: 5;
}
.nav li {
  border: 5px solid #AAAAAA;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  margin: 0 8px;
  position: relative;
  width: 50px;
}
.nav li.active {
  border: 5px solid #FFFFFF;
}
.nav li img {
  width: 100%;
}

.gallery {
  width: 100%;
  height: 350px;
  background-size:contain;
  background-repeat: no-repeat;
  overflow: hidden;
  background-position: center center;
  position:relative;
}
/*end picture gallery styles*/

.details-title {
  font-size: 24px;
  font-family: whitney;
  font-weight: bold;
  background-color: #E6E6FA;
}



.details_rating {
  display: block;
  height: 40px;
  width: 100px;
  margin-top: -35px;
  outline: medium none;
  position: absolute;
  top: 10%;
  right: 1.9%;
  z-index: 95;
  align-content: right;
  line-height:1.25em;
  background:#5BA829;
  border-radius:4px 4px 4px 4px;
  color:#F8F8FF ;
  /*padding: 10px 10px 0px 0px;*/
  font-weight: bold;
  font-size:30px;
  font-family: whitney;
  padding-left: 20px; 

}

.back_arrow {
  width: 150%;
  opacity: 1;
  transition: all 0.2s linear 0s;
  z-index: 85;
  color: #F8F8FF;
  size: 125%;

}

.back_arrow:hover {
  cursor: pointer; 
  cursor: hand;
}

.popup-titlebar {
    background: #ee5786; /* For browsers that do not support gradients */        
    background: -webkit-linear-gradient(0deg, #ee5786, #cc33ff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(0deg, #ee5786, #cc33ff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(0deg, #ee5786, #cc33ff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(0deg,  #4d0026, #4d004d); /* Standard syntax (must be last) */
    color:#F8F8FF ;
    height: 50px;
    
}

.details-heder-title {
  font-size: 24px;
  font-family: whitney;
  font-weight: bold;
  
}
.phone {
  font-size: 18px;
  font-weight: 700;
  color: #099e44;
}

.md-button.md-fab.md-mini {
      line-height: 4rem;
      width: 4rem;
      height: 4rem;
}

.md-button.md-fab.md-mini .facebook-share {
      
      background-image: url("../img/fb.png");
      background-size: contain;
      background-repeat:no-repeat;
      background-position: center center;
}

.md-button.md-fab.md-mini .google-share {
      
      background-image: url("../img/g+.png");
      background-size: contain;
      background-repeat:no-repeat;
      background-position: center center;
}

.starRating {
  margin: 0;
  padding: 0;
  color: #a9a9a9;
}
.starRating li {
  list-style-type: none;
  display: inline-block;
  padding: 3px;
  font-weight: bold;
  cursor: pointer;
}
.starRating .filled {
  color: green;
}
.img-circle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-size:contain;
  background-repeat: no-repeat;
  overflow: hidden;
  background-position: center center;
  position:relative;
}

.nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.fontsize-medium {
  font-size: 14px;
}
.grey-text {
  color: #89959B;
}
.to-uppercase {
  text-transform: uppercase;
  letter-spacing: .01em;
}
.fontsize-large{
  font-size: 17px;
}
.font-bold {
  font-weight: 700;
}
.black-text {
  color: #33373D;
}
.font-italic {
  font-style: italic;
}
.rating-text-small{
  padding: 4px 8px;
  height: 28px;
  font-weight: 800;
  width: 40px;
}
.rating-block-small {
    text-align: center;
    color: #fff;
    padding: 2px 5px;
    height: 22px;
    cursor: default;
    font-size: 13pt;
    letter-spacing: -.2px;
    font-weight: 500;
    -moz-border-radius: 0 3px;
    -webkit-border-radius: 0 3px;
    border-radius: 0 3px;
    position: absolute;
    top: 0;
    right: 0;
    background: #3F7E00;
    border-color: #3F7E00!important;
}

.title-bar {
  background-color: #E6E6FA;
  padding-left: 10px;
}

md-card md-card-content {
    display: block;
    padding: 5px !important;
}